body {
    margin: 0px 50px 0px 50px;
    text-align: center;
}
header {
    border: 5px black solid;
    background: url(../images/sparkles-background.jpg);
}
.headerContent {
    border: 2px black solid;
    background-color: rgba(61, 3, 61, 0.5);
    color: #E3EBFF;
    padding: 50px;
}
.ideas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ideasBackground {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.ideaCard {
    height: 300px;
    width: 200px;
    margin:20px;
    border: 2px black solid;
    position: relative;
    border-radius: 15%;
}
.ideaCard img {
    width: 100%;
    border-radius: 15%;
}
/*.ideaCard h5 {
    margin-top: 60px;
    font-size: 20px;
}*/
.ideaName {
    color: white;
    position: absolute;
    top: 20%;
    left: 30%;
}
.ideaName h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}
/*.category {
    padding: 50px;
}*/
.category h1 {
    padding: 0px;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.category h2 {
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.techFree {
    background-color: #623cea;
    color:white;
    border: 5px black solid;
}
.techy {
    background: rgb(31,128,237);
    background: linear-gradient(90deg, rgba(31,128,237,1) 0%, rgba(94,122,222,1) 51%, rgba(0,212,255,1) 100%);
    color:white;
    border: 5px black solid;
}

